* {
	font-size: 20px;
	font-family: "Ark Pixel 12px M latin";
}

window#waybar {
	background: transparent;
	color: #fdf6e3;
}

#custom-right-arrow,
#custom-left-arrow {
	color: #2a2a2a;
}

#custom-right-arrow {
	margin-right: 6px;
}

#custom-left-arrow {
	margin-left: 6px;
}
#cava {
	margin-left: 6px;
	font-size: 12px;
}

#workspaces,
#temperature,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#language,
#tray {
	background: #2a2a2a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#language {
	color: #b555b5;
}

#clock,
#temperature,
#pulseaudio,
#memory,
#cpu,
#battery,
#tray,
#language {
	padding: 0 8px;
}
